@media only screen and (max-width: 1440px){

    /*REGISTRO*/
    .registra-contenedor p {
    padding: 13px 0;
    }

    /*FOOTER*/
    .redes-sociales {
        width: 10%;
        right: 10%;
    }

    .socios img {
        width: 150px;
    }

    .socios {
        left: 5%;
        top:20%;
    }
}

@media only screen and (max-width: 1024px){
    /*REGISTRO*/   
    .registro img {
        width: 26%;
    }
    
    /*PLANES*/ 
    .plan-contenedor {
        width: 80%;
    }

    .info-adicional p{
        padding:10px 0;
     }
}



@media only screen and (max-width: 1024px){
    /*REGISTRO*/   
    .registro img {
        width: 26%;
    }
    
    /*PLANES*/ 
    .plan-contenedor {
        width: 80%;
    }

    .info-adicional p{
        padding:10px 0;
     }
}

@media only screen and (max-width: 768px){
    
    /*CARACTERÍSTICAS*/  
    .c-info {
        width: 95%;
    }

     /*REGISTRO*/   
     .registro img {
        width: 33%;
    }

    p {
        text-align: left;
    }

    /*CIUDADES*/
    
    .ciudades p{
        text-align: center;
    }
    
    .ciudades .cuartos{
        width: 22%;
        margin: 1%;      
    }
    
    .cuartos p{
        line-height: 20px;
    }

    h3{
        margin-bottom: 0;
        margin-top:5px;
    }


    /*PLANES*/ 
    .plan-contenedor {
        width: 100%;
    }

    .plan-contenedor p {
        font-size: 0.8rem;
        line-height: 155%;
    }

     /*FOOTER*/ 
    .politicas{
        line-height: 30px;
        right: 10%; 
    }
    
    .politicas li {
        padding-left: 27px;
    }

    .politicas::after {
        margin: 5px auto;
    }
    
    .redes-sociales {
        right: 15%;
        width: 30%;
    }
    
    .socios{
        left: 15%;
        top:35%;
    }

    .socios img {
        width: 100px;
    }

}


   
    
    

@media only screen and (max-width: 480px){

    /*HEADER*/
    .nav-principal{
        width: 100%;
        font-size: 0.9rem;
    }   
    
    .nav-principal a{
        margin-left:50px;
    }

    .nav-principal li{
        margin: 0px;   
    }

    h1{
        font-size: 1.4rem;
    }
    
    /*Herramientas*/
    .c-info{
        padding-top: 20px;
    }

    .c-info i {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
    }

    p {
        text-align: justify;
    }

    /*Viviendas destacadas*/

    .f-contenedor li{
        width: 50%;
    }

    .fotos-casas{
        padding-top: 40px;
    }

    /*PLANES*/ 
    .plan-contenedor {
        width: 100%;
    }

    .registro img{
        width: 55%;
    }

    /*CIUDADES*/ 

    .ciudades .cuartos{
        width: 100%;
        margin: 1%;
        margin-top: 10px;
    }

    .ciudades ul{
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .info-adicional p{
        padding:10px 120px;
   
    } 
    
    /*PLANES*/ 
    .plan-completo {
        width: 29%;
        margin-left: 3%;
    }
    
    .plan-cuerpo a {
        width: 80%;
    }

    .plan-contenedor p {
        line-height: 125%;
        padding:5px 5px;
    }

    /*FOOTER*/ 
    .socios {
        top: 60%;}

    .socios img {
        width: 50px;
    }

    .redes-sociales {
        top: 65%;
    }

    .politicas {
        width: 90%;
        top: 10px;
    }

}  

@media only screen and (max-width: 425px){

    /*CIUDADES*/
    .info-adicional p {
        padding: 10px 90px;
    }

    /*PLANES*/
    .plan-cuerpo a {
        width: 70%;
    }

    .btn {
        padding: 10px 20px;
    }

    /*ahora los planes se ven uno a uno*/
    .plan-completo{
        width: 56%;
        margin-left: 22%;
        margin-bottom: 20px;
    }
    
    /*PLANES*/
    registro img {
        width: 58%;
    }
}

@media only screen and (max-width: 375px){

    /*HEADER*/
    /*Así la separación entre las "pestañas" disminuye y están en una sola línea*/
    .nav-principal a{
        margin-left: 15px;
    }

    h1 {
        font-size: 1.1rem;
    }

    .titulo-box {
        width: 80%;
    }

    .btn {
        padding: 10px 30px;
    }

    /*REGISTRO*/
    p {
        font-size: 0.8rem;
    }

    .registro img {
        width: 66%;
    }

    .info-adicional p {
        padding: 10px 60px;
    }

    /*FOOTER*/
    .socios img {
        width: 48px;
    }

    .socios {
        top: 70%;
    }

    .redes-sociales {
        top: 68%;
        right: 13%;
    }     
}

@media only screen and (max-width: 320px){
    /*HEADER*/
    .nav-principal a {
        margin-left: 5px;
    }

    .titulo-box {
        width: 90%;
    }

    /*HERRAMIENTAS*/

    .span-1-of-4 {
        width: 80%;
    }
 

    /*REGISTRO*/
    .registra-contenedor p {
        padding: 8px 0;
    }

    p {
        font-size: 0.8rem;
    }

    /*ahora el celu y las opciones se me muestran uno arriba del otro*/
    .span-1-of-2 {
        width: 60%;
    }
   
    .col:first-child {
        margin-left: 10%;
    }

    .col {
        margin-left: 10%;
        margin-top: 7%;
    }
    
    /*CIUDADES*/

    .info-adicional p {
        padding: 10px 30px;
    }   

    /*PLANES*/

    .plan-completo {
        width: 70%;
        margin-left: 15%;
    }

    /*FOOTER*/

    .politicas li {
        padding-left: 5px;
    }

    .redes-sociales {
        width: 50%;
        right: 10%;
    }
}

